.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.chartGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: '. .' '. .' '. .';
}

.table {
  max-height: 500px;
  overflow: scroll;
}
